.normal {
    background: hsl(196, 70%, 29%);
    color: #fff;
    text-transform: uppercase 
}

.danger {
    background: red;
    color: #fff;
    text-transform: uppercase 
}

.success {
    background: green;
    color: #fff;
    text-transform: uppercase 
}